:root {
	--main-color : #009688;
	--secondary-color : #3FB0A6;
}
#homeTitle {
	color : var(--main-color);
}
a {
	color : white;
	text-decoration: none;
}
.navbar-cdb {
	height: 64px;
	width: 70%;
}

body {
	background: #EAF0FD;
}

body a {
	color : white;
	
}
.form-search-content {
	display: flex;
}
.button-submit {
    margin: 12px;
}
table a {
    font-weight: 700;
}

.list-mini-fab .mini-fab:hover {
	background-color: var(--secondary-color);
}
.list-mini-fab .mini-fab {
	background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size : 1em;
    margin: 0px 4px;
}

.list-mini-fab  .active .mini-fab {
	background-color: var(--secondary-color);
}
.number-page-panel {
	position: fixed;
	right: 68px;
	bottom : 0;
}

.navbar-fixed-bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: var(--main-color);
	border-top: 1px solid #CCC;
	height: 60px;
	z-index: 2;
}


.list-mini-fab {
    margin: 10px 0;
    list-style: none;
    display: flex;
    align-items : center;
    justify-content : center;
}
.sortCol {
    width: 23.5%;
}
.footer-panel {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .btn-group {
	margin: 10px 10px;
}

.panel-header {
	position: relative;
    min-height: 164px;
}
body:before {
    content: '';
    height: 265px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
}
.panel-header .mdl-textfield {
	padding: 0;
}

.delete-panel{
    background-color: var(--main-color);
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0px;
    color : white;
    transition : all .3s ease-out;
    width: 0px;
    float: right;
    display: flex;
    align-items : center; 
    justify-content : center;
}
.delete-panel .mdl-button {
	color : white;
}

.delete-panel .mdl-button:hover {
	background-color: var(--secondary-color);
}
.delete-checkbox-panel{
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0px;
    transition : all .3s ease-out;
    width: 0px;
    float: right;
    display : none;
	padding-top: 12px;
}
.mdl-layout__header-row .mdl-navigation.navigation {
	padding-right: 64px;
}
.navigation .waves-effect {
	margin-right: 16px;
}
.rowComputer:hover:not(.delete-checkbox-panel) .delete-panel {
    width: 108px;
}
.delete-checkbox-panel.selected {
    transition : width .3s ease-out;
	 width: 32px;
}
.delete-panel .mdl-button {
	min-width: 0px;
	padding-left: 12px;
}
.dashboard-menu span {
	margin-left : 16px;
}
body .mdl-card__supporting-text {
    padding: 16px 32px 16px 124px;
}

.form-delete {
	width: 32px;
}
.button-edit {
    margin-left: 16px;
}
@media (min-width: 1280px){
		.sidebar {
	    width: 200px;
	    position: absolute;
	    height: 100%;
	    top: 0;
	    left : 0;
	}
}

.mdl-layout{
    padding: 40px 0px;
	background-color: var(--main-color);
}
.panel-header .mdl-layout__header-row {
	padding: 0;
}
.panel-header .mdl-layout-title {
	font-weight: 700;
	font-size : 23px;
}
.layout_header {
	color : white;
    margin-left: 45px;
}

@media(min-width: 1280px) {
	#main {
    	padding: 0 200px 0px 200px;
	    min-height: calc(100vh - 265px);
	    position : relative;
	}
}
#main {
	z-index : 1;
}
.dashboard-fab {
	z-index : 2;
}
.panel-icons {
    height: 100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content : center;
    align-items : center;
    padding-top: 16px;
}

#main .card {    
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    justify-content : center;
    align-items : center;
    padding-bottom : 32px;
    
    margin-bottom: 64px;
}
body .mdl-button--fab.mdl-button--colored{
	background-color: var(--main-color);
}
.mdl-data-table {
	width: 100%;
}
body .mdl-button--fab.mdl-button--colored:hover {
		background-color: var(--secondary-color);
}

.dashboard-menu {
    list-style: none;
    height: auto;
    width: auto;
    min-width: 124px;
    padding: 8px 0;
    margin: 0;
    clip: rect(0 0 0 0);
}
.dashboard-menu .mdl-menu__item {
	opacity: 1;
}
#tableDashboard thead {
	background-color: var(--main-color)
}
#search-form {
	margin-left : 64px;
	padding-right : 16px;
    padding-left: 8px;
	background-color: var(--secondary-color);
	width: 32%;
	border-radius : 4px;
	color : white;
}
#search-form .mdl-textfield {
	width: 92%;

}
#search-form .mdl-textfield__input {
	border-bottom : 1px solid white;
}
#search-form .mdl-textfield__label {
	background-color : inherit;
	color : white;
	top : 16px;
}

#search-form .mdl-textfield__label:after {
	background-color : white;
	
}
input[type='checkbox'] {
	margin: 0;
	padding: 0;
	border-radius: 5px;
	white-space: nowrap;
}

#top-link-block.affix {
	position: fixed; /* keeps it on the bottom once in view */
	bottom: 140px;
	right: 40px;
}


th:hover, th:hover * {
	background-color: var(--secondary-color);
	cursor: pointer;
}

.dashboard-fab-add {
	position: fixed;
	bottom: 90px;
	right: 64px;
}
.dashboard-fab-open-delete {
	position: fixed;
	bottom: 160px;
	right: 64px;
}
.dashboard-fab-check-all {
	position: fixed;
	display : none;
	bottom: 230px;
	right: 64px;
}
.dashboard-fab-delete {
	position: fixed;
	bottom: 300px;
	display : none;
	right: 64px;
}
.dashboard-fab-go-to-bottom {
	position: fixed;
	bottom: 90px;
	left: 64px;
}
.dashboard-fab-go-to-top {
	position: fixed;
	bottom: 160px;
	left: 64px;
}
.open-clear {
	display : none;
}
.mdl-checkbox {
	transition : all 0.5s ease-in;
}

.brand-panel #brand-cdb {
	padding: 20px 15px 15px 15px;
}

.picto-flag {
	width: 24px;
	height: 24px;
    margin-left: 8px;
    margin-right: 8px;

}

.brand-panel {
	float: left;
	display: flex;
	justify-content : center;
	align-items :center ;
}