/* form starting stylings ------------------------------- */
.group 			  { 
  margin-bottom:45px; 
}

.main-panel form {
	width: 380px;
	margin: 0em 4em;
	padding: 0em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	display : flex;
	align-items : center;
	justify-content : center;
	flex-direction : column;
}

.main-panel {
	display : flex;
	justify-content : center;
	align-items : center;
	height: 100vh;
	width: 100%;
	background: #eee;
}

.title-login {
	display : flex;
	justify-content : center;
	align-items : center;
	height: 64px;
	margin-bottom: 32px;
    margin-top: 24px;
}

#text-title-login {
    font-size: 2em;
    color: #4a89dc;
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.main-panel form:before {
    background-color: #4a89dc;
    content: '';
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    height: 64px;
    width: 446px;
    /* padding: 0px 2em; */
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.main-panel form:after {
    background-color: #4a89dc;
    content: '';
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 0;
    height: 64px;
    width: 446px;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}